@import 'mixin';

header {
	@include flexbox(row, center);
	align-items: center;
	margin: 100px 0 100px 0;
	padding: 0 145px;

	.txt-heading {
		h1 {
			position: relative;
			@include h1();

			span.garis {
				@include garis(77px, 8px, 48);
			}

			span.garis1 {
				@include garis(212px, 8px, 118);
				right: 120;
			}
		}

		p {
			@include p();
		}
	}
}