@import 'mixin';

ul {
	list-style: none;
}

.active {
	color: #272042;
	font-weight: 500;
}

nav {
	@include flexbox(row, space-between);
	align-items: center;
	padding: 48px 100px 0 100px;
	margin: auto;


	ul {
		display: flex;
		list-style: none;
		align-items: center;

		li {
			margin-right: 36px;

			a {
				font-size: 18px;
				text-decoration: none;
				position: relative;

				span.active {
					height: 4px;
					background-color: #FBE0DC;
					width: 53px;
					position: absolute;
					bottom: 4;
					z-index: -1;
					border-radius: 100px;
				}

			}

		}
	}
}